
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/
*.pro.user
# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Cerveau_brebis/build-Cerveau_brebis-Desktop-Debug/
Cerveau_brebis/build-Cerveau_brebis-Desktop-Release/
build-cube-Desktop-Debug/
build-cube-Desktop-Release/
